<div [formGroup]="parentGroup">
    <form formGroupName="paymentdetails">
        
        <mat-form-field class="textbox" appearance="outline">
            <mat-label>Account Owner</mat-label>
            <input formControlName="accountOwner" placeholder="Account Owner" matInput type=" text">
            <mat-error *ngIf="accountOwner.invalid && accountOwner.touched">Account Owner is required</mat-error>
        </mat-form-field>

        <mat-form-field class="textbox" appearance="outline">
            <mat-label>IBAN</mat-label>
            <input formControlName="iban" placeholder="Enter 11 digit Account IBAN" matInput type=" text">
            <mat-error *ngIf="iban.invalid && iban.touched">First 2 character,then Numbers required</mat-error>
        </mat-form-field>
    </form>
</div>