<div [formGroup]="parentGroup">
    <form formGroupName="addressdetails">
        <mat-form-field class="textbox" appearance="outline">
            <mat-label>Address Line1</mat-label>
            <input formControlName="addressLine1" placeholder="Apartment No,Street Name" matInput type=" text">
            <mat-error *ngIf="addressLine1.invalid && addressLine1.touched">Maximum length 40 characters</mat-error>
        </mat-form-field>

        <mat-form-field class="textbox" appearance="outline">
            <mat-label>Address Line 2</mat-label>
            <input formControlName="addressLine2" placeholder="state/ District" matInput type=" text">
            <mat-error *ngIf="addressLine2.invalid && addressLine2.touched">Maximum length 40 characters</mat-error>
        </mat-form-field>

        <mat-form-field class="textbox" appearance="outline">
            <mat-label>City</mat-label>
            <input formControlName="city" placeholder="City" matInput type=" text">
            <mat-error *ngIf="city.invalid && city.touched">Maximum 20 characters</mat-error>
        </mat-form-field>

        <mat-form-field class="textbox" appearance="outline">
            <mat-label> Zip Code</mat-label>
            <input formControlName="zipCode" placeholder="Zip Code" matInput type=" text">
            <mat-error *ngIf="zipCode.invalid && zipCode.touched">6 Digit Number</mat-error>
        </mat-form-field>
    </form>
</div>