.textbox {
    width: 100%;
    margin-bottom: 10px;
}

::ng-deep .mat-form-field {
    font-size: 8px;
    color: black;
}

.phoneNumber {
    display: flex;
    flex-direction: row;
    position: relative;
    #field3 {
        width: 40%;
        padding-right: 10px;
    }
    #field4 {
        margin-left: 10px;
    }
}