<div [formGroup]="parentGroup">
    <form formGroupName="personaldetails">

        <mat-form-field class="textbox" appearance="outline">
            <mat-label>First Name</mat-label>
            <input formControlName="firstName" placeholder="First Name" matInput type=" text">
            <mat-error *ngIf="firstName.invalid && firstName.touched">First Name is required</mat-error>
        </mat-form-field>

        <mat-form-field class="textbox" appearance="outline">
            <mat-label>Last Name</mat-label>
            <input formControlName="lastName" placeholder="Last Name" matInput type=" text">
            <mat-error *ngIf="lastName.invalid && lastName.touched">Last Name is required</mat-error>
        </mat-form-field>

        <div class="phoneNumber">
            <mat-form-field class="textbox" id="field3" appearance="outline">
                <mat-label>Phone Code</mat-label>
                <input formControlName="countryCode" placeholder="eg.+49" matInput type=" text">
                <mat-error *ngIf="countryCode.invalid && countryCode.touched">valid country code</mat-error>
            </mat-form-field>

            <mat-form-field class="textbox" id="field4" appearance="outline">
                <mat-label> Phone Number</mat-label>
                <input formControlName="phoneNumber" placeholder="9 to 11 Digit Number" matInput type=" text">
                <mat-error *ngIf="phoneNumber.invalid && phoneNumber.touched">9 to 11 digit number</mat-error>
            </mat-form-field>
        </div>
    </form>

</div>