@import '/src/themes/themes.scss';

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: $padding20;
    flex-direction: column;

    .title {
        text-align: center;
        font-size: $fontsize20;
        font-weight: bold;
        padding-top: 30px;
        padding-bottom: 10px;
    }
    .success{
        text-align: center;
     }
     .error{
        text-align: center;
     }
    .error-title {
        text-align: center;
        font-size: $fontsize20;
        color:red;
        font-weight: bold;
        padding-top: 30px;
        padding-bottom: 10px;
    }
    .content {
        width: 40%;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        justify-content: center;
        background-color: white;
        -webkit-box-shadow: 0px 0px 10px -2px rgba(136, 140, 156, 1);
        -moz-box-shadow: 0px 0px 10px -2px rgba(136, 140, 156, 1);
        box-shadow: 0px 0px 10px -2px rgba(136, 140, 156, 1);
        padding: $padding20;
        .success-icon {
            padding-top: 10px;
            padding-bottom: 20px;
            color: green;
            font-size: 60px;
            width: auto;
            height: auto;
        }
       
        .error-icon{
            padding-top: 10px;
            padding-bottom: 20px;
            color:red;
            font-size: 60px;
            width: auto;
            height: auto;
        }
    }
}

a{
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}
a:hover{
    text-decoration: none;
}